@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------------------------------------Background Colours */

.bg-color-name-title {
    background-color: #676767;
}

/*---Bg-color Main Content */
.bg-color-three-reasons {
    background-color: #ffffff;
}

/*---Bg-color Home */
.ui-menu-color-home {
    background-color: #e67e22;
}
/*---Bg-color Resume */
.ui-menu-color-resume {
    background-color: #9b59b6;
}
/*---Bg-color Contact */
.ui-menu-color-contact {
    background-color: #3498db;
}
/*---Bg-color Download */
.ui-menu-color-download {
    background-color: #525252;
}

/*---------------------------------------------Special paddings/margins/text */

h1,h2,h3,h4 {
    margin: 0;
}

.uppercase {                            /*<--used in footer*/
    text-transform: uppercase;
}

.general-sub {                          /*<--used in footer*/
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {                         /*<--used in footer*/
    display: inline-block;
}

.row-table {                            /*<--used in section/main content*/
    display: table;
}

.section-column {                       /*<--used in section/main content*/
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {                      /*<--used in section/main content (heading)*/
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}


/*---------------------------------------------HEADER */

header {
    margin: 0;
}

/*-------------Picture (header left) */
.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/*-------------Heading (header right) */
.heading {
    margin-left: 50px;
}

/*---Profile Name */
.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

/*---Job Title */
.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

/*-------------------Navbar----------------------*/

/*---Closing menu gaps */
.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

/*--Styling menuitems--*/
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {          /*<--targeting the link*/
    width: 100%;       /*<--makes whole menu-item-area clickable*/
    text-decoration: none;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {          /*<--targeting the icons*/
    padding-top: 22px;
    display: block;      /*<--makes the icons appear on top of text (default is 'inline')*/
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {         /*<--targeting the link-text--(why can't I put these rules in the 'menuitem a' rule instead??)*/
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--Styling the Hover.css (from 'cdnjs.com')--*/
.hvr-sweep-to-bottom::before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 120px;
}


/*---------------------------------------------FOOTER */

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

#footer-details {               /*<--targets the whole footer*/
    padding: 20px;
}

.cv-pdf i {                     /*<--targeting the 'download pdf' icon*/
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {               /*<--targeting the 'download pdf' icon (hover combined with transition)*/
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {          /*<--targeting the 'social' icons*/
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;         /*<--makes the icons into circles (only works when width & height=same(square))*/
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;          /*<--same transition as ".cv-pdf i"*/
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {       /*<--targeting the 'social' icons (hover combined with transition)*/
    background: #e84610;
}


/*--------------------------------------MAIN CONTENT - Three Reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;
}